body {
  font-family: "Fira Sans", Arial, sans-serif;
  margin: 0px;
  color: #141414;
<<<<<<< HEAD
  margin-bottom: 1000px;
=======
>>>>>>> c0cc7e3 (Primeiro commit)
}

h1,
h2,
h3,
p {
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
<<<<<<< HEAD
=======
  height: auto;
>>>>>>> c0cc7e3 (Primeiro commit)
  display: block;
}

.subtitulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;
}

@media (max-width: 800px) {
  .subtitulo {
    font-size: 3rem;
    text-transform: capitalize;
<<<<<<< HEAD
    max-width: initial;
=======
    max-width: initial !important;
>>>>>>> c0cc7e3 (Primeiro commit)
  }
}
