@import "./global.css";
@import "./header.css";
@import "./introducao.css";
@import "./experiencia.css";
<<<<<<< HEAD
@import "./formacao.css";
@import "./footer.css";
=======
<<<<<<< HEAD
=======
@import "./formacao.css";
@import "./footer.css";
>>>>>>> c0cc7e3 (Primeiro commit)
>>>>>>> 6e3295ad38b49ed7b502fcba8d873c2fb6cb47a9
